//
// The Typekit service used to deliver this font or fonts for use on websites
// is provided by Adobe and is subject to these Terms of Use
// http://www.adobe.com/products/eulas/tou_typekit. For font license
// information, see the list below.
//
// brandon-grotesque:
//   - http://typekit.com/eulas/0000000000000000000132df
//   - http://typekit.com/eulas/0000000000000000000132e0
//   - http://typekit.com/eulas/0000000000000000000132e3
//   - http://typekit.com/eulas/0000000000000000000132e4
//   - http://typekit.com/eulas/0000000000000000000132db
//   - http://typekit.com/eulas/0000000000000000000132dc
//   - http://typekit.com/eulas/0000000000000000000132dd
//   - http://typekit.com/eulas/0000000000000000000132de
//   - http://typekit.com/eulas/0000000000000000000132e1
//   - http://typekit.com/eulas/0000000000000000000132e2
//   - http://typekit.com/eulas/0000000000000000000132e5
//   - http://typekit.com/eulas/0000000000000000000132e6
// gin:
//   - http://typekit.com/eulas/0000000000000000000171d9
//   - http://typekit.com/eulas/0000000000000000000171da
//
// © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
//
//{"last_published":"2018-10-22 18:43:35 UTC"}

@import url("https://p.typekit.net/p.css?s=1&k=xrb2uwv&ht=tk&f=10294.10295.10296.10297.10298.10299.10300.10301.10302.10303.10304.10305.25287.25288&a=5482570&app=typekit&e=css");

@font-face {
    font-family: "brandon-grotesque";
    src: url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
            format("woff"),
        url("https://use.typekit.net/af/2f8f3d/0000000000000000000132dd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
            format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "brandon-grotesque";
    src: url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
            format("woff"),
        url("https://use.typekit.net/af/d8f71f/0000000000000000000132e1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
            format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "brandon-grotesque";
    src: url("https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
            format("woff"),
        url("https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
            format("opentype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "gin";
    src: url("https://use.typekit.net/af/3f46b7/0000000000000000000171da/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/3f46b7/0000000000000000000171da/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/3f46b7/0000000000000000000171da/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("opentype");
    font-style: normal;
    font-weight: 400;
}
